/* Footer.css */

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f0f0f0; 
    padding: 20px;
    box-sizing: border-box; 
  }
  
  .column {
    flex: 1;
    margin: 10px;
    max-width: 200px; 
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .footer-container a {
    color: #333; 
    text-decoration: none; 
  }
  
  .footer-container a:hover {
    text-decoration: underline; 
  }
  